In [40]:
%run job_agg.py

In [41]:
from pyspark.sql import SparkSession

spark_session = (SparkSession.builder
                              .master("local[*]")
                              .appName("JobAggLJob")
                              .getOrCreate())

In [3]:
input_path = '../data/input/jobs.csv'
df = spark_session.read.csv(input_path, header=True)

In [4]:
df

DataFrame[name: string, job: string]

In [42]:
pipeline = JobAggregator(spark_session=spark_session, input_path=input_path)

# 3. Execute the pipeline
print("Starting ETL job...")
jobs_dict = pipeline.run()
print("ETL job finished successfully.")

Starting ETL job...
ETL job finished successfully.

In [43]:
jobs_dict

{'Pilot': 15,
 'Teacher': 24,
 'Barista': 28,
 'Designer': 29,
 'Banker': 31,
 'Office manager': 31,
 'Software engineer': 33,
 'Dancer': 34,
 'Nurse': 34,
 'Film editor': 40}